* {
    margin: 1;
    font-family: arial;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00ced1;
}

li{
    float: left;
}

li a{
    display: block;
    color: black;
    padding: 14px;
    text-decoration: none;
    font-style: italic;
    font-family: monospace;
    font-size: 18px;
}

li a:hover:not(.active) {
    background-color: #6f1cff;
    font-weight: bold;
    color: white;
}
  
.active {
    color: white;
    background-color: #6f1cff;
    font-weight: bold;
}

#onadatai input {
    width: 15%;
}

#cegeadatai input {
    width: 30%;
}
